@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/ptsans.woff'), url('../fonts/ptsans.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/ptsansbold.woff'), url('../fonts/ptsansbold.woff2');
  font-weight: bold;
  font-style: normal;
}

body {
  font-size: 14px;
  color: #333333;
  font-family: "PT Sans", "Arial", serif;
  line-height: 26px;
  text-transform: uppercase;
  padding: 0px;
  margin: 0px;
  /*display: flex;
  flex-direction: column;
  align-items: center;*/
  background-color: #f2f2f2
}

.sedona-foto h1 {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  min-width: 768px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 15px 5px rgba(0, 1, 1, 0.2);
  position: relative;
}

.main-header {
  /*min-height: 56px;*/
  padding: 0;
  margin: 0;
  position: relative;
}

.main-navigation {
  background-color: #ffffff;
}

.main-navigation ul {
  padding: 0;
  margin: 0;
  padding-top: 10px;
  /*на глазок*/
  padding-bottom: 10px;
  /*на глазок*/
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  width: 20%;
  font-size: 14px;
}

.main-navigation li:nth-child(1) {
  padding-left: 6%;
  text-align: left;
}

.main-navigation li:nth-child(2) {
  padding-right: 8%;
  text-align: left;
}

.main-navigation li:nth-child(3) {
  text-align: right;
}

.main-navigation li:nth-child(4) {
  padding-right: 6%;
  text-align: right;
}

.main-logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 20;
  transform: translateX(-50%);
}

.main-content {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

.sedona-foto {
  background: url(../img/white-background-shape.svg) no-repeat 50% bottom, 
    url(../img/background-photo.jpg) no-repeat 50% 20%;
  background-size: 100% 57px, cover;
  height: 513px;
  padding: 0;
  margin: 0;
  text-align: center;
  padding-top: 90px;
  /*на глазок*/
}

.hotel-search-map {
  background: url(../img/map.png) no-repeat 50% top;
  width: 100%;
  height: 598px;
  border: none;
}

.reasons-title,
.reasons-item-title,
.catalog-item-title,
.footer-hashtag {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.reasons-item-title {
  line-height: 21px;
}

.filter-group-title {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.search-item {
  font-weight: bold;
}

.hotel-search-with-button {
  width: 568px;
}

a {
  text-decoration: none;
}

.button {
  width: 142px;
  height: 27px;
  background-color: #766357;
  color: #ffffff;
  font-weight: bold;
  display: block;
  text-align: center;
  border: none;
  text-transform: inherit;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-more-info,
.modal-search-button,
.social-button {
  background-color: #81b3d2;
}

.button-more-info:hover,
.modal-search-button:hover,
.social-button:hover {
  background-color: #669ec0;
}

.button-more-info:active,
.modal-search-button:active,
.social-button:active {
  background-color: #5496bd;
}

.button-book:hover,
.hotel-serch-button:hover {
  background-color: #604e43;
}

.button-book:active,
.hotel-serch-button:active {
  background-color: #503e33;
}

.reasons {
  text-align: center;
}

.reason-item-block-gray {
  background-color: #eeeeee;
  /*min-height: 256px;*/
  display: flex;
}
.reason-item-block-white {
  background-color: #ffffff;
  /*min-height: 330px;*/
  display: flex;
}


.reason-item-block-white .reasons-item {
  padding-top: 164px;
  padding-bottom: 85px;
  width: 33.333333%;
}

.reason-item-block-gray .reasons-item {
  padding-top: 50px;
  padding-bottom: 65px;
  width: 33.333333%;
}


.reasons-item-blue {
  background-color: #81b3d2;
  /*min-height: 256px;*/
  display: flex;
  color: #ffffff;
  text-align: center;
}

.reasons-item-blue .reasons-item-title {
  color: #ffffff;
}

.reason-item-foto {
  width: 67%;
}

.reasons-item-info {
  width: 33%;
  padding-top: 50px;
  padding-bottom: 60px;
}

.reasons-item-description {
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
}

.reasons-item-blue .reasons-item-description {
  min-width: 199px;
  max-width: 307px;
}

.reason-item-block-white .reasons-item-description {
  min-width: 165px;
  max-width: 304px;
}

.reason-item-block-gray .reasons-item-description {
  min-width: 200px;
  max-width: 270px;
  word-wrap: break-word;
}

.reason-item-foto-city {
  background: gray url(../img/city.png) no-repeat 50% 50%;
  background-size: cover;
}

.reason-item-foto-bridge {
  background: gray url(../img/bridge.png) no-repeat 50% 50%;
  background-size: cover;
}

.reasons-item {
  text-align: center;
}

.filter-form {
  background: url(../img/filter-background.jpg) no-repeat;
  color: #ffffff;
  padding: 34px 6% 0 6%;
  display: flex;
}

.hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hotel-search-with-button {
  margin: 0;
  padding: 0;
}

.modal {
  width: 458px;
  box-shadow: 0px 0px 15px 7px rgba(0, 1, 1, 0.15);
  margin: 0;
  position: absolute;
  background: #ffffff;
  padding: 55px;
  padding-top: 40px;
}

.modal h2 {
  margin: 0;
  padding: 0;
}

.search-form {
  width: 458px;
  padding: 0;
  margin: 0;
}

.hotel-search-button {
  display: block;
  width: inherit;
  /*min-height: 86px;*/
  font-size: 21px;
  font-family: inherit;
  margin: 0;
  padding-top: 35px;
  padding-bottom: 35px;
}

.modal-search-button {
  width: 458px;
  min-height: 58px;
  vertical-align: middle;
  font-size: 21px;
  font-family: inherit;
}

.social-button {
  width: 46px;
  height: 48px;
  font-size: 0px;
  margin-right: 7px;
}
.social-button:last-child{
  margin-right: 0;
}
.social-button-twitter{
  background: #81b3d2 url(../img/twitter.svg) no-repeat 50% 50%;
  background-size: 17px 15px;
}
.social-button-facebook{
  background: #81b3d2 url(../img/fb-icon.svg) no-repeat 50% 50%;
  background-size: 17px 15px;
}
.social-button-youtube{
  background: #81b3d2 url(../img/youtube.svg) no-repeat 50% 50%;
  background-size: 17px 15px;
}
.filter-button {
  background-color: rgba(255, 255, 255, 0);
  width: 135px;
  min-height: 35px;
  border: 2px solid #ffffff;
  margin:0 auto; 
}

.filter-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.navigation-item,
.catalog-item-title {
  color: #000000;
  font-weight: bold;
}

.navigation-item:hover,
.catalog-item-title:hover,
.navigation-item:focus,
.catalog-item-title:focus {
  color: #81b3d2;
}

.navigation-item:active,
.catalog-item-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.active-menu-item {
  color: #766357;
}

.search-result-sort{
  margin-right: 40px;
}

.sort-option {
  border-bottom: 1px dashed #81b3d2;
  color: rgba(0, 0, 0, 0.3);
  margin-right: 31px;
}

.active-sort-option {
  color: #81b3d2;
  border: none;
}

.sort-option:hover {
  color: #81b3d2;
}

.sort-option:active {
  border: none;
  color: #000000;
}

.search-result-order {
  font-size: 12px;
  line-height: 18px;
  padding: 0 6%;
}

.search-result-count {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-right: 47px;
}

.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  width: 100%;
  /*justify-content: space-between;*/
  align-items: center;
}

.main-footer-absolute {
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-block {
  width: 33.333333%;
  text-align: center;
  padding: 37px 0;
}

.footer-copyright b {
  font-weight: normal;
}

.footer-social ul {
  list-style: none;
  font-size: 0;
  padding: 0;
  margin: 0;
}

.footer-social ul li {
  display: inline-block;
  /*font-size: 0;*/
}

.filters ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-result-order ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filters fieldset {
  border: none;
  text-align: left;
  padding: 0;
  margin-right: 20px;
  margin-bottom: 23px;
  width: 33.333333%;
}

.filters fieldset ul {
  margin: 0;
  padding: 0;
}

.filters fieldset legend {
  margin: 0;
  padding: 0;
}

.filter-option {
  position: relative;
  margin-top: 36px;
  padding: 0;
}

.filter-checkbox+label {
  padding-left: 40px;
}

.filter-checkbox+label::before {
  display: block;
  position: absolute;
  width: 23px;
  height: 23px;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0) url(../img/checkbox-off.svg) no-repeat;
  z-index: 5;
  content: '';
}

.filter-checkbox:checked+label::before {
  background: rgba(0, 0, 0, 0) url(../img/checkbox-on.svg) no-repeat;
}

.search-result-order {
  display: flex;
  justify-content: space-between;
}

.sort-option-block {
  flex-grow: 1;
  display: flex;
  align-items: center;
}


/*.search-result-order{
  display: flex;
  align-items: center;
}*/

.sort-option-list {
  display: flex;
  align-items: center;
}

.sort-order-list {
  display: flex;
  align-items: center;

}

.catalog-item {
  display: flex;
  justify-content: space-between;
  border-bottom: #f2f2f2 2px solid;
  padding: 31px 6%;
}

.catalog-item:first-child{
  border-top: #f2f2f2 2px solid;
}

.catalog-item-info-group {
  flex-grow: 1;
}

.catalog {
  background-color: #ffffff;
}

.catalog-rating-stars,
.catalog-rating {
  display: block;
}
.catalog-item-info-and-buttons{
  display: flex;
  padding: 0;
  align-items: stretch;
}
.catalog-item-image{
  margin: 0 30px 0 0;
}
.catalog-item-info{
  margin: 0 6px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.catalog-item-order{
  margin: 0 6px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.catalog-item-name{
  margin: 0 0 0px 0;
}
.item-rating-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.catalog-rating{
  background-color: #f2f2f2;
  padding: 0 17px;
}
.button-book{
  margin-top: 10px;
}
.hidden{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.cost-control-fieldset{
  width: 330px;
}
.price-controls{
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid white;
  font-size: 0;
  position: relative;
}
.price-controls::after{
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.price-controls label{
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  font-size: 14px;
  line-height: 38px;
}
.price-controls .min-price,
.price-controls .max-price{
  width: 90px;
  padding-left: 65px;
}
.price-controls input{
  width:50px;
  margin:0;
  background-color: rgba(0, 0, 0, 0) ;
  border: none;
  outline: none;
  color:inherit;
  font: inherit;
}
.range-controls{
  position: relative;
  margin-bottom: 32px;
}
.range-controls .scale{
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}
.range-controls .bar{
  height: 2px;
  width: 80%;
  background-color: #ffffff;
}
.range-toggle{
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  position: absolute;
  top:-9px;
}
.range-toggle-min{
  left:0;
}
.range-toggle-max{
  left: 80%;
}
.range-toggle:hover{
  background-color: #1c4f80;
}