@font-face{
font-family: 'PT Sans';
src: url('../fonts/ptsans.woff'), url('../fonts/ptsans.woff2');
font-weight: normal;
font-style: normal;
}
@font-face{
font-family: 'PT Sans';
src: url('../fonts/ptsansbold.woff'), url('../fonts/ptsansbold.woff2');
font-weight: bold;
font-style: normal;
}
body{
  font-size: 14px;
  color: #333333;
  font-family: "PT Sans", "Arial", serif;
  line-height: 26px;
  text-transform: uppercase;
}
.container{
  max-width: 1200px;
  min-width: 768px;
}
.sedona-foto{
  background: url(../img/white-background-shape.svg) no-repeat 50% bottom,
  url(../img/background-photo.jpg) no-repeat 50% 30%;
  background-size: 100% 57px, 100% auto;
  height: 513px;
}
.hotel-search-map{
  background: url(../img/map.png) no-repeat 50% top;
  width: 100%;
  height: 475px;
}
.reasons-title,
.reasons-item-title,
.catalog-item-title{
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}
.reasons-item-title{
  line-height: 21px;
}
.filter-group-title{
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}
.hotel-search-with-button{
  width:568px;
}
a{
text-decoration: none;
}
ul{
  list-style: none;
}
.button{
  width: 142px;
  height: 27px;
  background-color: #766357;
  color: #ffffff;
  font-weight: bold;
  display: block;
  text-align: center;
  border: none;
}
.button:active{
  color: rgba(255, 255, 255, 0.3);
}
.button-more-info,
.modal-search-button,
.social-button{
  background-color: #81b3d2;
}
.button-more-info:hover,
.modal-search-button:hover,
.social-button:hover{
  background-color: #669ec0;
}
.button-more-info:active,
.modal-search-button:active,
.social-button:active{
  background-color: #5496bd;
}
.button-book:hover,
.hotel-serch-button:hover{
  background-color: #604e43;
}
.button-book:active,
.hotel-serch-button:active{
  background-color: #503e33;
}
.hotel-search-button{
  width: 100%;
  height: 86px;
  font-size: 21px;
  font-family: inherit;
}
.modal-search-button{
  width: 458px;
  height: 58px;
  vertical-align: middle;
  font-size: 21px;
  display: table-cell;
}
.social-button{
  width: 46px;
  height: 48px;
}
.filter-button{
  background-color: rgba(255, 255, 255, 0);
  width: 133px;
  height: 32px;
}
.filter-button:hover{
  background-color: #ffffff;
  color: #000000;
}
.main-navigation ul{
  background-color: #ffffff;
}
.main-navigation ul li{
  width: 20%;
  height: 56px;
}
.navigation-item{
  color: #000000;
  font-weight: bold;
}
.navigation-item:hover{
  color: #81b3d2;
}
.navigation-item:active{
  color: rgba(0, 0, 0, 0.3);
}
.active-menu-item{
  color: #766357;
}
.sort-option{
  border-bottom: 1px dashed #81b3d2;
  color: rgba(0, 0, 0, 0.3);
}
.active-sort-option{
  color: #81b3d2;
  border: none;
}
.sort-option:hover{
  color: #81b3d2;
}
.sort-option:active{
  border: none;
  color: #000000;
}
.search-result-order{
  font-size: 12px;
  line-height: 18px;
}
.search-result-count{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}